################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SqlSrvrTest0/SqlSrvrTest0/MyLogins/
